h1 {
    color: blue;
    text-align: center;
}
nav {
    display: block;
    text-align: right;
}
a{
    margin: 10px;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #434446;
}
button  {
    text-align: center;
    width: 120px;
    height: 30px;
    padding: 2px;
    margin: 10px;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #202124;
}
input { 
    display: flex;
    text-align: left;
    z-index: 3;
    min-height: 44px;
    background: #fff;
    border: 2px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    font-size: 15px;
    font-family: arial,sans-serif;
    color: #202124;
    padding: 2px;
    margin: 0 auto;
    width: 650px;
    max-width: 784px;
    align-content: flex-start;
}
div {
    text-align: center;
}
#Ukraine {
    position: fixed;
    bottom: 45px;
    height: 45px;
    width: 100%;
    background-color: #f5f3f3;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#Nav {
    position: fixed;
    bottom: 0;
    height: 45px;
    width: 100%;
    background-color: #f5f3f3;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-between;
}